/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/



#left{
	max-width: 15%;
	min-height: 400px;
	float: right;
	margin-right: 1%;
	background-color: #FFFFCC;
	padding: 5px;
}

.right{
	width: 80%;
	height:90%;
	float:right;
	padding-right: 2%;
}

#indexTitle{
	float:left;
	width:100%;
	text-align: center;
}

.tableBackground{
	background-color: #FFFFCC;
}

body{
	background-color: #FFCC99;
}

#banner {
width: 100%;
height: 233px;
float:right;
}

.validation_errors {
	color: red;
}

table {
	width: 80%;
}

#bannerHolder{
	height: 233px;
}

#tag{
	text-align: center;
	width:100%;
}

.textField{
	float:right;
}

.form{
	width:400px;
}

.field{
	padding-bottom:5px
}

h1 {
	text-align: center;
}